* {
    -fx-background-color: white;
}

.underline-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #bbbbbb transparent;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 6 4;
}

.underline-field:focused {
    -fx-border-color: transparent transparent #000000 transparent;
}

.noline-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.send-btn {
    -fx-background-color: blue;
    /*-fx-border-color: transparent transparent transparent transparent;*/
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-text-fill: white;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 11px;
}

.error {
    -fx-border-color: transparent transparent red transparent;
}